<launch>

 <!-- Package node -->
 <node pkg="arduino_keyboard" name="servo_controller" type="servo_controller.py" output='screen'>
 </node>
 
 <!-- rosserial's serial node -->
  <node respawn="true" pkg="rosserial_python" name="serial_node" type="serial_node.py" output='screen'>
    <param name="_port" type="string" value="/dev/arduino_uno1" />
    <param name="_baud" value="57600" />
  </node>
</launch>
